.apartment-search-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apartment-search-section > .title {
    margin-top: 20vh;
}

.apartment-search-section > .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.apartment-search-section > .gallery > .arrow i {
    font-size: 50pt; 
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 188, 203, 0.7);
}

.apartment-search-section > .gallery > .right {
    margin-left:10px;
    display: none;
}

.apartment-search-section > .gallery > .left {
    margin-right:10px;
    display: none;
}

@media only screen and (max-width: 800px) {
    .apartment-search-section {
        height: 100vh;
        justify-content: center;
    }

    .apartment-search-section > .title {
        margin-top: 0;
    }

    .apartment-search-section > .gallery > .left {
        display: block;
        cursor: pointer;
    }

    .apartment-search-section > .gallery > .right {
        display: block;
        cursor: pointer;
    }
}